.Amain {
  margin: 2rem 2rem;
  height: 67%;
  .Asection {
    display: flex;
    .Asection__about--paragraf{
        background-color: #35424a;
        padding: 1rem;
        color: white;
    }
    &__info{
        margin-left: 1rem;
        h3{
            margin-bottom: 1rem;
        }
        &--box{
            background-color: #35424a;
            padding: 1.5rem 1rem;
            color: white;
        }
    }
  }
}
