@import "./abstract/mixin","./abstract/variable";

@import "./base/reset";



@import "./components/nav","./components/footer","./components/main", "./components/responsive";

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}