.main {
  height: 81vh;
  position: relative;
}
.main .img {
  background-image: url(./images/showcase.jpg);
  width: 100vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.main .img .img__background--text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  overflow: auto;
  max-height: 120px;
}
.main .img .img__background--text h1,
.main .img .img__background--text p {
  text-align: center;
  color: white;
}
.main .logos {
  height: 38vh;
}
.main .logos__images {
  display: flex;
  width: 100%;
  height: 100%;
}
.main .logos__images--html, .main .logos__images--css, .main .logos__images--design {
  background-image: url(./images/logo_html.png);
  background-position: top;
  height: 100%;
  max-width: 33%;
  background-repeat: no-repeat;
  background-size: 70px 50px;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main .logos__images--html h5,
.main .logos__images--html p, .main .logos__images--css h5,
.main .logos__images--css p, .main .logos__images--design h5,
.main .logos__images--design p {
  max-width: 100%;
  margin-left: 1rem;
  text-align: center;
}
.main .logos__images--html h5, .main .logos__images--css h5, .main .logos__images--design h5 {
  height: 2vh;
  margin-top: 4rem;
  margin-bottom: 0.2rem;
}
.main .logos__images--css {
  background-image: url(./images/logo_css.png);
}
.main .logos__images--design {
  background-image: url(./images/logo_brush.png);
}

.Amain {
  margin: 2rem 2rem;
  height: 67%;
}
.Amain .Asection {
  display: flex;
}
.Amain .Asection .Asection__about--paragraf {
  background-color: #35424a;
  padding: 1rem;
  color: white;
}
.Amain .Asection__info {
  margin-left: 1rem;
}
.Amain .Asection__info h3 {
  margin-bottom: 1rem;
}
.Amain .Asection__info--box {
  background-color: #35424a;
  padding: 1.5rem 1rem;
  color: white;
}

.Smain .Ssection {
  display: flex;
}
.Smain .Ssection__pieces {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
.Smain .Ssection__pieces h4 {
  padding: 1rem 0rem 0 1rem;
  margin-bottom: 2rem;
}
.Smain .Ssection__pieces p {
  margin-bottom: 1rem;
  padding: 0rem 1rem 0;
}
.Smain .Ssection__pieces--box1 {
  background-color: beige;
  border-bottom: white solid 5px;
}
.Smain .Ssection__pieces .Ssection__pieces--head {
  margin: 1rem 0;
}
.Smain .Ssection__right {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 1rem;
  background-color: #35424a;
  margin: 2rem 1rem;
  color: white;
  height: fit-content;
}
.Smain .Ssection__right button {
  width: 5rem;
  padding: 0.4rem;
  background-color: orangered;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: #35424a;
  align-items: center;
  border-bottom: 4px solid #a74f83;
}
.nav__item {
  margin-left: 1rem;
}
.nav__item--header {
  color: white;
}
.nav__item--header .span {
  color: #be4ba9;
}
.nav .nav__right--list {
  margin-right: 1rem;
  display: flex;
  list-style-type: none;
}
.nav .nav__right--list .active a {
  color: #a74f83;
}
.nav .nav__right--list li a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: white;
  font-weight: 500;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  height: 13.5vh;
  background-color: #35424a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__copy, .footer p {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0.3rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  background-color: #35424a;
  padding: 0.5rem 0;
  color: white;
  padding: 1rem 1rem;
}
.subscribe button {
  background-color: orangered;
  color: white;
  padding: 0.3rem;
}
.subscribe input {
  padding: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
